.main{
	margin: 1.5%;
}
 
 .navigation{
	display: inline-block;
	width: 100%;
}
.navigation img{
	float: left;
}
.navigation-ul{
	float: right;
}


.navigation-ul li{
	display: inline-block;
	color: #C7C7C7;
	text-transform: uppercase;
	margin-left: 125px;
}




.imageholder1{
	background-image:url("../images/girls.jpg");
	display: inline-block;
	width: 100%;
	height: 500px;
	background-size: cover;
}

.container{
    margin: 5%;
  	display: inline-block;
  	position: relative;
}

/*photodairy*/

.section-photodairy p{
text-transform: uppercase;
color: #C7C7C7;
}
.section-photodairy h1{
	color: #636363
}
.section-photodairy div{
	color: #636363
}
.section-photodairy-p2{
	margin-top: 50px;
}


/*inner container*/
.container-inner{
	margin: 100px;
}


/*orad gavyavi shida kontainer*/
.container-inner-first{
	display: inline-block;
	float: left;
	width: 45%;


}
.container-inner-second{
	display: inline-block;
	float: right;
	width: 45%;
}
/*#############################################*/
.container-inner-first-image{
	width: 100%;
	height:500px;
	background-image: url("../images/img1.jpg");
	background-size:cover;
}
.container-inner-second-image{
	width: 100%;
	height:500px;
	background-image: url("../images/img2.jpg");
	background-size: cover;
}
/*################################################*/
.container-inner-first-text p:first-child {
color: #636363;
text-transform: uppercase;
}
.container-inner-second-text p:first-child{
color: #636363;
text-transform: uppercase;
}


/*##################################################*/
.container-inner-first-image2{
	width: 100%;
	height:500px;
	background-image: url("../images/bridge.jpg");
	background-size:cover;
}
.container-inner-second-image2{
	width: 100%;
	height:500px;
	background-image: url("../images/back.jpg");
	background-size: cover;
}

.container-inner-first-text p:first-child {
color: #636363;
text-transform: uppercase;
}
.container-inner-second-text p:first-child{
color: #636363;
text-transform: uppercase;
}
/*#############################################*/

.container-inner-first-text2 p:first-child {
color: #636363;
text-transform: uppercase;
}
.container-inner-second-text2 p:first-child{
color: #636363;
text-transform: uppercase;
}


/*###############################################*/





/*####################################################*/
/*qveda konteineri romelic oradaa gayopili marjvniv da marcxniv*/
.container2-inner{
margin: 100px;
}
.container2-inner-first{
	display: inline-block;
	float: left;
	width: 45%;


}
.container2-inner-second{
	display: inline-block;
	float: right;
	width: 45%;
}
.container2-inner-first-image{
	width: 100%;
	height:500px;
	background-image: url("../images/back2.jpg");
	background-size:cover;
}
.container2-inner-second-image{
	width: 100%;
	height:500px;
	background-image: url("../images/road.jpg");
	background-size: cover;
}
.container2-inner-first-text p:first-child {
color: #636363;
text-transform: uppercase;
}
.container2-inner-second-text p:first-child{
color: #636363;
text-transform: uppercase;
}
/*######################################################*/

.load-container {
	text-align: center;
}

.load-container button{
    display: inline-block;
    border: 3px solid;
    padding: 10px;
    
}

/*email input*/
.email-wrapper{
	text-align: center;
}
.email{
	border: none;
	 border-bottom: 2px solid black;
	 display: inline-block;

}

.email input[type=text]{
 	border: none;
}


/*footer is absolute and is relative to container*/
/*gadasaketebelia*/
.end{
position: absolute;
bottom: 0;
width: 100%;
}
.end-terms-privacy{
	float: left;
	display: inline-block;
	width: 45%;

}
.end-terms-privacy a{
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin-left: 10px; 
}
.end-follow {
	float:right;
	display: inline-block;
	width: 45%;
}
.end-follow p{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 3px;
}

